<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="accesslog" class="ch.qos.logback.core.FileAppender">
        <file>logs/access.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] - %msg%n</pattern>
        </layout>
    </appender>
    <appender name="fileout" class="ch.qos.logback.core.FileAppender">
        <file>logs/taurus.log</file>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="fileout"/>
    </root>

    <logger name="accesslog" level="INFO" additivity="false">
        <appender-ref ref="accesslog"/>
    </logger>
</configuration>